<% unless current_user.experience_details.blank? %>
  <table class="table table-hover">
    <th>Company Name</th>
    <th>Company URL</th>
    <th>Role</th>
    <th>From</th>
    <th>To</th>
    <% current_user.experience_details.each do |experience| %>
      <tr>
        <td><%= experience.company_name %></td>
        <td><%= experience.company_url %></td>
        <td><%= experience.role %></td>
        <td><%= experience.from_date %></td>
        <td><%= experience.to_date %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= form_for(@experience_detail) do |f| %>
  <% if @experience_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience_detail.errors.count, "error") %> prohibited this experience_detail from being saved:</h2>

      <ul>
      <% @experience_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :company_url %><br />
    <%= f.text_field :company_url %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br />
    <%= f.date_select :from_date, :start_year => 1980 %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br />
    <%= f.date_select :to_date, :start_year => 1980 %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="controls" style="margin-top: 10px;">
    <%= submit_tag 'Done', :class=> 'btn btn-success' %>
  </div>
<% end %>
