<% unless current_user.qualification_details.blank? %>
  <table class="table table-hover">
    <th>Degree</th>
    <th>Institute</th>
    <th>University</th>
    <th>Course Name</th>
    <th>Year of Passout</th>
    <th>From</th>
    <th>To</th>
    <% current_user.qualification_details.each do |qualification| %>
      <tr>
        <td><%= qualification.degree %></td>
        <td><%= qualification.institute %></td>
        <td><%= qualification.university %></td>
        <td><%= qualification.course_name %></td>
        <td><%= qualification.year_of_passout %></td>
        <td><%= qualification.from %></td>
        <td><%= qualification.to %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= form_for(@qualification_detail) do |f| %>
  <% if @qualification_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qualification_detail.errors.count, "error") %> prohibited this qualification_detail from being saved:</h2>

      <ul>
      <% @qualification_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :degree %><br />
    <%= f.text_field :degree %>
  </div>
  <div class="field">
    <%= f.label :institute %><br />
    <%= f.text_field :institute %>
  </div>
  <div class="field">
    <%= f.label :university %><br />
    <%= f.text_field :university %>
  </div>
  <div class="field">
    <%= f.label :course_name %><br />
    <%= f.text_field :course_name %>
  </div>
  <div class="field">
    <%= f.label :year_of_passout %><br />
    <%= f.number_field :year_of_passout %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.date_select :from, :start_year => 1980 %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.date_select :to, :start_year => 1980 %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="controls" style="margin-top: 10px;">
    <%= submit_tag 'Done', :class=> 'btn btn-success' %>
  </div>
<% end %>
