<%= form_for(@resume) do |f| %>
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary, :style => 'width: 500px; height: 80px;' %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.number_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :email_id %><br />
    <%= f.text_field :email_id %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth, :start_year => 1980 %>
  </div>
  <div class="field">
    <%= f.label :experience %><br />
    <%= f.number_field :experience %>
  </div>
  <div class="field">
    <%= f.label :company_location %><br />
    <%= f.text_field :company_location %>
  </div>
  <div class="field">
    <%= f.label :current_employer %><br />
    <%= f.text_field :current_employer %>
  </div>
  <div class="field">
    <%= f.label :designation %><br />
    <%= f.text_field :designation %>
  </div>
  <div class="field">
    <%= f.label :technology %><br />
    <%= f.text_field :technology %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.radio_button :gender, "male" %>Male<br/>
    <%= f.radio_button :gender, "female" %>Female
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
