<div class="alert alert-info">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <h4> Hello <%= current_user.email %>, </h4>
	  Welcome to <strong> Kareer Web </strong>  Kareer Web is the coolest on the web for job seekers and recruiters!  </br> </br>
	  It seems that you have not uploaded your resume!  Upload Now 
  </div>
  <%#= form_tag :url => {:action => "upload_file"}, :id => current_user.id , :multipart => true  do -%>
  <form action="/resumes/upload_file/<%= current_user.id %>" method="post" enctype="multipart/form-data">
  <div class="controls">
	  <%= label_tag "Select File " %>
	  <%= file_field_tag "file" %>
	  <%= label_tag "Name" %>
    <%= text_field_tag 'resume[name]',nil,  :size => 20 %>
    <%= label_tag "Alternative E-mail" %>
    <%= text_field_tag 'resume[email_id]',nil,  :size => 20 %>
    <%= label_tag "Phone Number" %>
    +91<%= number_field_tag 'resume[phone_number]',nil,  :size => 20 %>
    <%= label_tag :date_of_birth %><br />
    <%#= date_select_tag 'resume[date_of_birth]', :start_year => 1980 %>
    <%= label_tag :gender %><br />
    <%= radio_button_tag 'resume[gender]', "male", :checked => true %>Male<br/>
    <%= radio_button_tag 'resume[gender]', "female" %>Female

    <%= label_tag "Languages Known" %><br />
    <%= text_field_tag :language_name,nil,  :size => 20 %>
    <input type="button" onclick="new Ajax.Request('/languages/add_new_language/'+<%= current_user.id %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)})" value="Add"/>

    <%= label_tag :address %><br />
    <%= text_area_tag 'resume[address]' %>
    <%= label_tag "City" %><br />
    <%= text_field_tag 'resume[address_city]',nil,  :size => 20 %>
    <%= label_tag :pin_code %><br />
    <%= number_field_tag 'resume[pin_code]',nil,  :size => 20 %>

    <%= label_tag :company_location %><br />
    <%= text_field_tag 'resume[company_location]',nil,  :size => 20 %>
    <%= label_tag :current_employer %><br />
    <%= text_field_tag 'resume[current_employer]',nil,  :size => 20 %>
    <%= label_tag :designation %><br />
    <%= text_field_tag 'resume[designation]',nil,  :size => 20 %>
    <%= label_tag :technology %><br />
    <%= text_field_tag 'resume[technology]',nil,  :size => 20 %>
    <%= label_tag "Total Experience" %><br />
    <%= number_field_tag 'resume[experience]',nil,  :size => 20 %>

    
	</div>

	<div class="controls" style="margin-top: 10px;">
	  <%= submit_tag 'Submit', :class=> 'btn btn-success' %>
	</div>
  </form>