<%=stylesheet_link_tag 'profiles' %>
<div class="form-horizontal" style="padding: 20px; border: 1px solid #ccc; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);">
	<%= form_tag root_path, :method => :get do %>
	<%= label_tag "Search" %>
	<%= text_field_tag 'keywords',nil,  :size => 40, :maxlength => 50, :placeholder => 'Keywords' %>
	<%= submit_tag 'Search', :class=> 'btn btn-success' %>
	<div>
		<% i = 0
		@job_posts.each do |job| %>
		<div class="alert alert-info" style="font-size: 16px;"><a href="/job_posts/<%= job.id %>"><%=raw job.job_position %> at <%=raw job.company_name %></a>
			<div style="font-size: 12px;">Located at <%=raw job.city %>, <%=raw job.country %></div>
		</div>	  
		<% i += 1
		end %>
		<%= will_paginate @job_posts %>
	</div>
	<% end %>
	<div id="profile_details">
	  <% unless current_user.resume.nil? %>
      <% if current_user.resume.gender == "male" %><%= image_tag "male.jpg" %><% else %><%= image_tag "female.jpg" %><% end %>
      <div id="name">
        <%= current_user.resume.name %>
      </div>
      <div id="home_profesional_details">
      	<br/>
      	<h5><%= current_user.resume.designation %> in <%= current_user.resume.technology %> @ <%= current_user.resume.current_employer %>, <%= current_user.resume.company_location %></h5>
      	<h6>Current Company: <%= current_user.resume.current_employer %><% unless current_user.resume.previous_company.blank? %><br/>
		Previous Company: <%= current_user.resume.previous_company %><br/><% end %><br/>
		<%= image_tag "mobile.jpeg", :size => "8x9", :style => "margin-right: 3px;" %>&nbsp;<%= current_user.resume.phone_number %><br/>
		<%= image_tag "email.jpeg", :size => "11x12", :style => "margin-top: 6px;" %>&nbsp;<%= current_user.email %></h6>		
      </div>
    </div>
    <%= link_to 'View Profile', view_profile_path, :class => "btn", :style => "margin: 5px;" %>
	<%= link_to "Edit Profile", edit_resume_path(current_user.resume) , :class => "btn", :style => "margin: 5px;" %>
	<% unless current_user.profile.nil? %>Views(<%= current_user.profile.views %>)Downloads(<%= current_user.profile.downloads %>)Contacts(<%= current_user.profile.contacts %>)
	<% end %>
	<% else %>
	<%= link_to 'Create Profile', create_profile_path, :class => "btn", :style => "margin: 5px;" %>
	<% end %>
</div>