<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resume.name %>
</p>

<p>
  <b>Summary:</b>
  <%= @resume.summary %>
</p>

<p>
  <b>Phone number:</b>
  <%= @resume.phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @resume.email_id %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @resume.date_of_birth %>
</p>


<%= link_to 'View Profile', view_profile_path %> |
<%= link_to 'Back', edit_resume_path(@resume) %>

